<nav class=" header navbar fixed-top navbar-light bg-light">
    <div>
    <img id="picto-train" src="/images/train.png">
    <b>Ticktac</b>
    </div>
    <div>
   <a class="log" href="/">Connection</a>
    <b>My last trips</b>
   </div>
</nav> 